.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  
  margin-top: 3.2rem;
  padding: 0 2.4rem;

  background-color: transparent;

  h1 {
    font-size: 1.6rem;
    color: var(--gray-700);
  }

  button {
    width: 2.4rem;
    height: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    border: 0;

    svg {
      font-size: 2.4rem;
    }
  }
}